.juegos_cont {
    border: 1px solid#ff9900;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.juegos_subcont1 {
    width: 25%;
    height: 200px;
    border-radius: 20px;
}

.juegos_subcont2 {
    width: 70%;
}